@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
}

dialog {
  position: relative;
  padding: 48px 24px 24px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
}

dialog button[data-close] {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  background: none;
  transition: background-color .1s ease-in;
}

dialog button[data-close]:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

small {
  font-size: 12px;
}

label {
  font-size: 14px;
}

input::placeholder {
  font-size: 12px;
}

button.b-icon {
  border: none;
  outline: none;
  background: none;
}

.m-center {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
